---
import Base from '../layouts/base.astro';
import {Image} from "astro:assets";
import FLLlogo from "../assets/images/FIRSTLego_iconHorz_CMYK_reverse.svg"

import fll_a from "../assets/images/FLL_A.png"
import fll_ca from "../assets/images/FLL_CA.png"
import fll_c from "../assets/images/FLL_C.png"
import fll_s from "../assets/images/FLL_S.png"

---

<Base 
    index="true"
    title="FLL"
    desc="This is our FLL team that we're sponsoring!"
>
    <Fragment slot="head">
        <link rel="canonical" href="https://www.bitflip.club/fll">

        <style>
            .card-text {
                padding: 5%;
                margin: 5% 0;
                box-sizing: border-box;
                white-space: normal;
            }
        </style>
    </Fragment>
    <header>
        <div class="header-content">
            <h1>Bitflip Jr.</h1>
            <aside>This is the FLL team of Bitflip Robotics!</aside>
        </div>
    </header>

    <section class="section-alt">
        <div class="circle"></div>
        <div class="section-content">
            <h2>What is FLL?</h2>
            <p>
                FIRST LEGO League (FLL) is a global robotics program that introduces students aged 4-16 to STEM through hands-on, team-based challenges using LEGO robotics kits. 
                Participant
                s learn how to design, build, and program robots to complete themed missions, while also developing critical skills such as problem-solving, teamwork, creativity, and communication. 
            </p>
        </div>
    </section>

    <Image src={FLLlogo} alt="a banner with the FLL logo" class="section-image" />

    <section class="section-alt fll-section">
        <h1>About Us</h1>

        <div class="bios">
            <div id="selah" class="bio"> <!-- FILL IN THE ID  -->
                <div class="photo"><Image src={fll_s} alt="" /></div>
                <div class="bio-content">
                    <h3>Selah</h3>
                    <p>
                        Hi! My name is Selah, and I have been doing robotics for four years. The things I enjoy most about robotics are winning and helping others to succeed.
                        After I graduate, I plan to either work in the culinary field or as a vet, as I like food and animals. 
                        Outside of robotics, I also enjoy jump roping, baking, drawing, ballet, and rock climbing.
                    </p>
                </div>
            </div>

            <div id="cael" class="bio"> <!-- FILL IN THE ID  -->
                <div class="photo"><Image src={fll_ca} alt="" /></div>
                <div class="bio-content">
                    <h3>Cael</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    </p>
                </div>
            </div>
            <div id="alex" class="bio"> <!-- FILL IN THE ID  -->
                <div class="photo"><Image src={fll_a} alt="" /></div>
                <div class="bio-content">
                    <h3>Alex</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    </p>
                </div>
            </div>

            <div id="conner" class="bio"> <!-- FILL IN THE ID  -->
                <div class="photo"><Image src={fll_c} alt="" /></div>
                <div class="bio-content">
                    <h3>Conner</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section-default fll-section">
        <h1>Core Values</h1>
        <div class="card-holder">
            <div class="card">
                <div class="photo" />
                <div class="card-text">
                    <h2>Discovery</h2>
                    <p>We explore new skills and ideas.</p>
                </div>
            </div>
            <div class="card">
                <div class="photo" />
                <div class="card-text">
                    <h2>Innovation</h2>
                    <p>We use creativity and persistence to solve problems.</p>
                </div>
            </div>
            <div class="card">
                <div class="photo" />
                <div class="card-text">
                    <h2>Impact</h2>
                    <p>We apply what we learn to improve our world.</p>
                </div>
            </div>
            <div class="card">
                <div class="photo" />
                <div class="card-text">
                    <h2>Inclusion</h2>
                    <p>We respect each other and embrace our differences.</p>
                </div>
            </div>
            <div class="card">
                <div class="photo" />
                <div class="card-text">
                    <h2>Teamwork</h2>
                    <p>We are stronger when we work together.</p>
                </div>
            </div>
            <div class="card">
                <div class="photo" />
                <div class="card-text">
                    <h2>Fun</h2>
                    <p>We enjoy and celebrate what we do!</p>
                </div>
            </div>

        </div>
    </section>

    <section class="section-alt fll-section">
        <h1>Our Robot</h1>
        <h2>Coming soon!</h2>
    </section>

    <section class="section-default fll-section">
        <h1>Our Project</h1>
        <h2>Coming soon!</h2>
    </section>

    <section class="section-alt fll-section">
        <h1>This year's theme</h1>
        <iframe id="fll-teaser" width="560" height="315" src="https://www.youtube.com/embed/exWkcUBS0j8?si=NHCvmhrkGoZW7-Yy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </section>

    <script>
        const frame = document.getElementById("fll-teaser");
        let coeff = 0.6;
        if (window.innerHeight >= window.innerWidth) coeff = 0.9;

        frame.width = window.innerWidth * coeff;
        frame.height = (frame.width) * (9/16);

        window.onresize = () => {
            if (window.innerHeight >= window.innerWidth) coeff = 0.9; else coeff = 0.6;
            frame.width = window.innerWidth * coeff;
            frame.height = (frame.width) * (9/16);
        }
    </script>
</Base>