---
import Base from "../layouts/base.astro";
import { Image } from 'astro:assets';
import bigLogo from "../assets/images/orange.png";
import ftcLogo from "../assets/images/FIRSTTech_iconHorz_CMYK.svg";
import decodeLogo from "../assets/images/decode.svg";

import ftc_g from "../assets/images/FTC_G.jpg";
import ftc_m from "../assets/images/FTC_M.jpg";
import ftc_e from "../assets/images/FTC_E.jpg";
import ftc_z from "../assets/images/FTC_Z.jpg";
---

<Base 
    index="true"
    title=""
>
    <!-- styling for the main page -->
    <Fragment slot="head">
        <link rel="canonical" href="https://www.bitflip.club/">

        <style>
            .header-video-container {
                /* self-sizing */
                flex:1;
                height:calc(100vh - var(--toolbar-height));
                width:100%;

                /* child-sizing */
                display: flex;
                align-items: flex-start;
                justify-content: center;
            }

            .header-video {
                /* self-sizing */
                height:calc(100vh - var(--toolbar-height));
                width: 100%;
                aspect-ratio: 16/9;
                padding:0;
                margin: 0;
                position:fixed;
                z-index: -100;
            
                /* styling */    
                object-fit: cover;
            }

            .header-video-container::after {
                content: "";
            
                /* self-sizing */
                width: 100%;
                height: 100%;
                position: fixed;
                z-index: -5;
            
                /* color */
                /* Dark tint effect */
                background-color: rgba(0, 0, 0, 0.2);
                backdrop-filter: blur(3px);
                -webkit-backdrop-filter: blur(3px);
            }

            #main-header #big-logo {
                /* self-sizing */
                flex: 0 1 0;
                height:auto;
                width: auto;
                max-height: calc( 0.7 * (100% - (var(--toolbar-height))));
                max-width: 80vw;
                aspect-ratio: 1250/1438; /* keep it consistently the right size */
                margin-top: 5vh;
                object-fit: contain;
            }

            #main-header h1 {
                /* self-sizing */
                bottom:0;
                margin-top:5vh;
                position: static;
            
                /* font */
                font-size:2.4rem;
                color: var(--standard-color);
            }
        </style>
    </Fragment>

    <div class="header-video-container">
        <video autoplay muted loop disablepictureinpicture playsinline style="pointer-events:none;" class="header-video">
            <source src="/videos/refRobot.mp4" type="video/mp4" />
        </video>
    </div>
    <header id="main-header" class="full-height-header">
        <div class="header-content">
            <Image src={bigLogo} alt="" id="big-logo"/>
            <h1>Bitflip Robotics<span class="landscape-only"> | </span><br class="portrait-only" />FTC 30380</h1>
        </div>
    </header>
    <section class="section-alt">
        <div class="circle"></div>
        <div class="section-content">
            <h2>
                What is FIRST&reg;?
            </h2>
            <p>FIRST&reg; is a worldwide nonprofit organization that provides opportunities for students to compete in
                team robotics competitions. It empowers people ages 4-18 to design and build their own robots, plan
                outreach opportunities, request funding from sponsors, compete in tournaments, learn public speaking
                skills and problem solving, and participate in tournaments. FIRST&reg; also gives participants the
                ability to learn more about career opportunities in the field of STEAM, which will aid them in
                seeking out a job in this field.
            </p>
        </div>
    </section>
    <Image src={ftcLogo} alt="a banner with the First logo" class="section-image" />
    <section class="section-alt">
        <div class="circle"></div>
        <div class="section-content">
            <h2>What is FTC?</h2>
            <p>
                Through FIRST&reg; Tech Challenge, students learn valuable skills by participating in season-specific challenges using robots that they have created with their teammates. 
                Teams fabricate robots from a mixture of custom-made and store-bought parts, then program the robots to complete a combination of automatic and driver-controlled tasks (partly paraphrased from the FIRST&reg; Tech Challenge official website). 
                More information can be found <a href="https://www.firstinspires.org/programs/ftc" target="_blank">here</a>.
                <br><br>
                This year's season is called DECODE&trade;. 
                For a concise explanation, please refer to FTC Team 25650 ONE SMALL STEP for an Axolotl's amazing one-pager 
                <a href="https://drive.google.com/file/d/1MyWqiDEmYg-AcbI6tc2_MQOQbsejEnmK/view" target="_blank">here</a>.
            </p>
        </div>
    </section>
    <Image src={decodeLogo} alt="a banner with Decode, the name of the upcoming FTC game" class="section-image" id="decode-logo"/>
    <section class="section-alt">
        <div class="team-section-wrapper">
            <h2>The Team</h2>
            <div id="members">
                <div class="card" onclick="window.location.href='/about/#Elijah'">
                    <div class="photo"><Image src={ftc_e} alt='' /></div>
                    <div class="card-text">
                        <p class="name">Elijah</p>
                        <p class="roles">Build<br>General Engineering</p>
                    </div>
                </div>
                <div class="card" onclick="window.location.href='/about/#Micah'">
                    <div class="photo"><Image src={ftc_m} alt='' /></div>
                    <div class="card-text">
                        <p class="name">Micah</p>
                        <p class="roles">Team Lead<br>Design Lead<br>Build</p>
                    </div>
                </div>
                <div class="card" onclick="window.location.href='/about/#Griffin'">
                    <div class="photo"><Image src={ftc_g} alt='' /></div>
                    <div class="card-text">
                        <p class="name">Griffin</p>
                        <p class="roles">Programming Lead<br>Driving<br>Website Design<br>Design</p>
                    </div>
                </div>
                <div class="card" onclick="window.location.href='/about/#Zoe'">
                    <div class="photo"><Image src={ftc_z} alt='' /></div>
                    <div class="card-text">
                        <p class="name">Zoë</p>
                        <p class="roles">Documentation<br>Social Media<br>Outreach<br>Programming</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</Base>