---
import Base from "../layouts/base.astro";

import { Image } from "astro:assets";

import sponsor1 from "../assets/images/sponsor_1.png";
import sponsor2 from "../assets/images/sponsor_2.png";

const donors = [
    {name: "Roland Rzewnicki"},
    {name: "The Ancoras"},
    {name: "Boeing", link: "https://www.boeing.com"},
    {name: "The Pages"},
    {name: "The Booths"},
    {name: "The Kings"},
    {name: "Yvonne Howe"},
    {name: "Leslie Henneburg"},
    {name: "Anderson Insurance Associates", link: "https://www.aiasc.com/"}

]
---

<Base 
    index="true"
    title="Sponsors"
    desc="Current sponsors and donation form for Bitflip Robotics"
>

    <Fragment slot="head">
        <link rel="canonical" href="https://www.bitflip.club/sponsor/">
        <style>
            body{
                background-color: #17171d;
            }
            iframe {
                position: relative;
            }

            ul {
                list-style-type:none;
                margin:0;
                margin-top:1rem;
                padding:0;
                text-align: center;
                font-size: 1.7rem;
                line-height: 75px;
            }

            a {
                text-decoration: none;
                color:blue;
            }
            .section-content {
                padding:0 20%;
            }

            .packet-container {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                padding: 5%;
                gap:5%;
            }
            .packet-image {
                flex:1;
                width: 40%;
                max-width: 900px;
                min-width: 450px;
                height:auto;
                aspect-ratio: 1.545/2;
                z-index: 1;

            }
            @media only screen and (orientation: portrait) {
                .packet-image {
                    min-width: 80%;
                }
                .section-content {
                    padding:0;
                }
            }   
        </style>
    </Fragment>
    <header>
        <div class="header-content">
            <h1>Sponsors</h1>
            </div>
    </header>

    <section>
        <div class="section-content">
            <h2>Become a sponsor today!</h2>
            <p>Below is our team's sponsorship packet, which contains all of the information about us that we send out to potential sponsors.</p>
        </div>
    </section>
        
    <div class="packet-container">
        <Image src={sponsor1} alt="Sponsorship packet" class="packet-image"/>
        <Image src={sponsor2} alt="Sponsorship packet" class="packet-image"/>
    </div>

    <section>
        <div class="section-content">
            <p>Below is the sponsorship form. In addition, there is a link to our hackclub account in the footer, which has this same donation form on it. We thank you for your support!
            </p>
        </div>
    </section>

    <iframe src="https://hcb.hackclub.com/donations/start/bitflip-ftc-fundraiser" style="border:none;" name="donateFrame" scrolling="no" frameborder="0" marginheight="0px" marginwidth="0px" width="1000" height="1000" allow="payment" allowfullscreen id="hcbframe"></iframe>


    <section class="section-alt"> 
        <div class="section-content">
            <h2>And finally, we would like to give a huge thank you to all of our sponsors!</h2>
            <ul>
                {
                    donors.map(donor => (
                        (donor.link && donor.link !== "") ? <li><a href={donor.link} target="_blank">{donor.name}</a></li> : <li>{donor.name}</li>
                        )
                    )
                }
            </ul>
        </div>
    </section>

    <script>
        //@ts-nocheck
        const frame = document.getElementById('hcbframe');
        
        let widthCoeff = () => {
            if(window.innerWidth > window.innerHeight) {
                return 0.75;
            } else {
                return 1;
            }
        }

        let height = () => {
            return 1500;
        };

        frame.width = `${window.innerWidth * widthCoeff()}px`;
        frame.height = `${height()}px`;
        window.onresize = function () {
            frame.width = `${window.innerWidth * widthCoeff()}px`;
            frame.height = `${height()}px`;
        }
    </script>



</Base>