---
import {Image} from "astro:assets";
import logo from "../assets/images/just_the_coins_correct.png";
import Dropdown from "./dropdown.astro";
//import fs from "node:fs";
//import path from 'node:path';

/* idk why it's angry now. dont bother it */
const pages = [
    {link:'/about/',    name:'About Us',   active:true,  id:"about-page"},
    {link:'/contact/',  name:'Contact Us', active:true,  id:"contact-page"},
    {link:'/outreach/', name:'Outreach',   active:false, id:"outreach-page"},
    {link:'/sponsor/',  name:'Sponsors',   active:true,  id:"sponsor-page"},
    {link:'/robot/',    name:'Robot',      active:true,  id:"robot-page"},
    {link:'/blogs/',    name:'Blog',       active:true,  id:"blogs-page"},
    {link:'/fll/',      name:'FLL',        active:true,  id:"fll-page"},
]

---
<div id="toolbar">
    <nav>
        <ul>
            <li><a href="/"><button id="home-button"><Image loading="eager" alt="" id="logo" src={logo}></button></a></li>

            { /* it's angry because of the commented out code up top. don't worry about it */
                pages.map(page => (
                    page.active ? <li><a href={page.link}><button id={page.id}>{page.name}</button></a></li> : ""
                ))
            }
        </ul>

        <Dropdown class="dropdown"></Dropdown>
    </nav>
</div>
<div class=dropdown-content>
    {pages.map(page => (
        page.active ? <a href={page.link}><button>{page.name}</button></a> : ""
    ))}
</div>